.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links a
{
    font-weight: bold;
    margin:0px 30px;
    text-decoration: none;
    color: black;
}
.holdings
{
    text-align:justify;
    border: 1px solid yellow;
    background-color: rgb(241, 198, 41);
    height: 520px; width: 440px;
}
.holdings h3
{
    border-bottom: 4px solid black;
    width: 340px;
    margin-bottom: 20px; 
}
#readbtn
{
    margin-bottom: 80px;
}
#fbtn
{
    padding:27px 76px;
    background-color: white;
    color: rgb(85, 62, 62);
    border: 1px solid rgb(250, 166, 10);
}
#sbtn
{
    padding:27px 77px;
    background-color: white;
    color: rgb(85, 62, 62);
    border: 1px solid rgb(255, 166, 1);

}