.signup
{
    background-color: #f8f8f8;
    padding: 35px;
    
}
#signupp
{
    margin-left:15%;
    margin-top: 1%;
    height: 600px;
    width: 900px;
    padding-top: 100px;
    background-color:white;
    box-shadow:  0.9px 0.9px 9px 0.9px;
    border-radius:15px ;
}
.form input 
{
    text-decoration: none;
    border: none;
    border-bottom: 1px solid black;
    line-height: 40px;
    /* font-size: small; */
    font-family: "Poppins";
}
